<div>
  Title: <%= book.title %>
  Description: <%= book.description %>
  Genre: <%= book.genre %>
  Isbn: <%= book.ISBN %>
  Author: <%= book.author.name %>
  <%= link_to 'Show', book %>
  <%= link_to 'Edit', edit_book_path(book) %>
  <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>