
  <p>Animal Name:<%= @animal.name %></p>
  <p>Animal Age:<%= @animal.age %></p>
  <p>Animal gender:<%= @animal.gender %></p> 
  <p>Animal shelter id:<%= @animal.shelter_id %></p> 
  <p>Animal client id:<%= @animal.client_id %></p> 

 