<h1><%= link_to 'tunR 2014', root_path %></h1>
<h3><%= @titlename %></h3>
<%= link_to 'songs', songs_path %>
<%= link_to 'artists', artists_path %>
<%= link_to 'albums', albums_path %>
<%= link_to 'playlists', playlists_path %>