<%= link_to 'Home', paintings_path  %>
  <p>Artwork: <%= @painting.title%></p>
  <p>Year: <%= @painting.year%></p>
  <p>Medium: <%= @painting.medium%></p>
  <p>Style: <%= @painting.style%></p>
  <p>Image: <%= image_tag @painting.image, width: "200" %></p>
  <%= link_to 'edit', edit_painting_path(@painting)%>
  <%= link_to 'delete', @painting, :method => :delete, :confirm => 'do you want to delete this painting?' %>


<h1>Artist</h1>
<p><%= link_to @artist.name, artist_path(@artist) %></p>