<%# require 'will_paginate' %>
<%# require 'will_paginate/data_mapper' %>


<h1>Listing senses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <% if params[:robot_id].nil? %>
	  <th>Assigned to Robot</th>
	  <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @senses.each do |sense| %>
      <tr>
        <td style="text-align:center"><%= sense.name %></td>
        <td style="text-align:center"><%= sense.description %></td>
<!-- IMAGE -->
        <td style="text-align:center">
        	<%#= sense.image %>


		    <% if !sense.robot_id.nil? %>
		  	  <% robot = Robot.find_by_id(sense.robot_id) %>
		  	  <% if !robot.nil? %>
		  	  	<%= image_tag robot.image, title: robot.name, width: 50, height: 50 %>
		  	  <% end %>
		    <% end %>

		    <!-- if !sense.robot_id.nil? 
			sense.robotimages[

			each { |n| hash[n] = read_attribute_for_serialization(n) }
		    end 
			http://apidock.com/rails/ActiveModel/Serialization/serializable_hash
			-->

        </td>

<!-- ASSIGNED TO ROBOT ID -->
			<% if params[:robot_id].nil? && !sense.robot_id.nil? %>
				<% x = Robot.find_by_id(sense.robot_id) %>
				<% if !x.blank? %>
					<td style="text-align:center"><%= link_to sense.robot_id, robot_path(sense.robot_id) %></td>
				<% elsif x.blank? %>
					<td style="text-align:center"><%= link_to (sense.robot_id.to_s + ", but deleted!, reassign?"), edit_sense_path(sense) %></td>
				<% end %>
			<% end %>

<!-- SHOW EDIT DELETE -->
        <td><%= link_to 'Show', sense %></td>
        <td><%= link_to 'Edit', edit_sense_path(sense) %></td>
        <td><%= link_to 'Destroy', sense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%#= will_paginate @senses %>
  </tbody>
</table>

<br>

<% if !params[:robot_id].nil? %>
<%= link_to 'New Sense', new_robot_sense_path %>
<% end %>

