<h1>Listing senses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <% if params[:robot_id].nil? %>
	  <th>Assigned to Robot</th>
	  <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @senses.each do |sense| %>
      <tr>
        <td><%= sense.name %></td>
        <td><%= sense.description %></td>
        <td><%= sense.image %></td>

		<% if params[:robot_id].nil? && !sense.robot_id.nil? %>
			<% x = Robot.find_by_id(sense.robot_id) %>
			<% if !x.blank? %>
				<td><%= link_to sense.robot_id, robot_path(sense.robot_id) %></td>
			<% elsif x.blank? %>
				<td><%= link_to (sense.robot_id.to_s + ", but deleted!, reassign?"), edit_sense_path(sense) %></td>
			<% end %>
		<% end %>

        <td><%= link_to 'Show', sense %></td>
        <td><%= link_to 'Edit', edit_sense_path(sense) %></td>
        <td><%= link_to 'Destroy', sense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !params[:robot_id].nil? %>
<%= link_to 'New Sense', new_robot_sense_path %>
<% end %>

