<%= link_to 'home', posts_path %>
<p>Title: <%= @post.title %></p>
<p>Description: <%= @post.description %></p>
<p>Content: <%= @post.content %></p>
<p>Author: <%= @post.author %></p>
<p>Created: <%= @post.created_at %></p>
<p>Updated: <%= @post.updated_at %></p>

<%= link_to 'edit', edit_post_path(@post) %>
<%= link_to 'delete', @post, :method => :delete, :confirm => "Are you sure?" %>